<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles/styles.css" media="screen" title="no title" charset="utf-8">
    <!-- AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
    <!-- Firebase -->
    <script src="bower_components/firebase/firebase.js"></script>
    <!-- AngularFire -->
    <script src="node_modules/angularfire/dist/angularfire.js"></script>
    <!-- gmaps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk0uauWBZnEZ9RxlB_o9uxgMvqm8l5pys"></script>
    <script src="node_modules/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- angular app -->
    <script src="app.js"></script>
    <script src="controllers/HomeController.js"></script>
    <script src="controllers/MessageController.js"></script>
    <script src="services/ReverseGeocodeService.js"></script>
    <script src="services/AuthService.js"></script>
    <script src="services/UserService.js"></script>
    <script src="services/MessageService.js"></script>
    <script src="services/MapService.js"></script>
    <script src="services/FirebaseService.js"></script>
</head>

<body ng-app="WM" ng-strict-di>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a ui-sref="home" class="navbar-brand">WorldMessage</a>
        </div>
        <a class="pull-right navbar-brand" href="https://github.com/bdspen/WMAS">Project Page</a>
    </nav>
    <div class="container-fluid">
        <div class="row" id="chat">
            <div id="map-div" ng-class="containerClasses.map">
                <div id="map"></div>
            </div>
            <div id="chat-div" ng-class="containerClasses.chat" class="sidebar" ui-view></div>
            <div ng-if="$root.newRequests.length > 0" >
                <div ng-class="containerClasses.requests" class="sidebar">
                    <div ng-repeat="user in $root.newRequests" ng-click="requestAccept(user)" class="blink list-group box">
                        <div class="list-group-item"><h4>A user from {{user.address}} has requested to chat! Click if you would like to chat back.</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
