<div class="container-fluid">
    <!-- users list area -->
    <div ng-hide="$root.$state.includes('chat') || $root.$state.includes('chatrequest')">
        <h2>Click on any user to start a chat.</h2>
        <div ng-if="newUsers.length > 1" ng-click="refresh()" class="blink list-group box">
            <h4 class="list-group-item">New Users have joined, click if you would like to refresh the map.</h4>
        </div>
        <div ng-if="newRequests.length > 0" >
            <div ng-repeat="user in newRequests" ng-click="requestAccept(user)" class="blink list-group box">
                <div class="list-group-item"><h4>A user from {{user.address}} has requested to chat! Click if you would like to chat back.</h4></div>
            </div>
        </div>
        <hr>
        <div class="list-group box">
            <button class="list-group-item" ng-repeat="user in $root.users" ng-if="user.uid != newUsers[1].uid"ng-click="clickMap(user.uid)" ng-hide="user.uid == $root.user.uid">
                <div class="user-button">

                    <h4><span class="glyphicon glyphicon-green"></span> {{user.address}}</h4>
                </div>
            </button>
        </div>
    </div>
    <!-- end users list area -->
    <!-- start message area -->
    <div class="panel panel-default" ng-show="$root.$state.includes('chat') || $root.$state.includes('chatrequest')">
        <div id="message-panel" class="panel-heading"><h4>Chat with user from {{$root.selectedUser.address}}</h4>
            <div class="panel-body">
                <div id="messages">
                    <div ng-repeat="message in $root.messages">
                        <div class="message-list" ng-show="message.uid == $root.user.uid">
                            <div class="message-image-text"><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" class="message-image" />{{message.message}}</div>
                        </div>
                        <div class="message-list" ng-show="message.uid == $root.selectedUser.uid">
                            <div class="message-image-text"><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" class="message-image" />{{message.message}}</div>
                        </div>
                    </div>
                </div>
                <h2 class="panel-title text-center">
                    <span class="glyphicon glyphicon-map-marker"></span>
                </h2>
                <form ng-submit="messageObj.create(newMessageText, uid, selectedUser.uid);newMessageText = null;">
                    <input placeholder="Write a message here!" class="form-control" ng-model="newMessageText"></input>
                    <br>
                    <button class="btn btn-success btn-block" type="submit" >Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
