<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 nopadding">
            <div id="map"></div>
        </div>
        <div class="col-md-2">
            <div>
                <div class="list-group">
                    <button class="list-group-item" ng-repeat="user in $root.users" ui-sref="chat({selectedUid: user.uid, uid: $root.user.uid})" >
                        <div class="user-button">
                            <span class="glyphicon glyphicon-green"></span>
                            <reverse-geocode lat="{{user.lat}}" lng="{{user.lng}}"><reverse-geocode>
                        </div>
                    </button>
                </div>
                <div class="panel panel-default" ng-if="$root.$state.includes('chat') || $root.$state.includes('chatrequest')">
                <h1>Chat with {{selectedUser}} </h1>
                    <!-- Panel Title -->
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">
                            <span class="glyphicon glyphicon-map-marker"></span>
                        </h2>
                        <div>
                            <textarea placeholder="Write a message here!" class="form-control" rows="2" ng-model="newMessageText"></textarea>
                            <br>
                            <button class="btn btn-success btn-block" type="submit" ng-click="messageObj.create(newMessageText, uid, selectedUser);newMessageText = null;">Send</button>
                            <hr>
                        </div>
                        <ul id="messages" class="scroll-list">
                            <li ng-repeat="message in $root.messages">
                                <h4>{{message.$value}}</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
