* {
  border-radius: 1px !important;
}

#map {
    display: block;
    height: 700px;
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}
#map.ng-hide {
    opacity: 0;
}

.navbar {
    -webkit-box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    -moz-box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    background-color: #ffffff;
    border-radius: 0px;
}
#map {
    -webkit-box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    -moz-box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
}
.messages {
   max-height: 350px;
   overflow: auto;
}
.users{
    -webkit-box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    -moz-box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
    box-shadow: -5px 5px 9px 0px rgba(110, 110, 110, 0.65);
}
.glyphicon.glyphicon-green:before {
    content: "\25cf";
    color: green
}
.user-button {
    display: inline;
    font-weight: bold;
}
.navbar-fixed-bottom{
}
.message-list{
    display: inline;
}
